<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
  <title>Pier Player</title>
  <link rel="stylesheet" href="static/bulma.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<style>
    body {
        -ms-overflow-style: none; /*スクロールバー非表示（IE・Edge）*/
        scrollbar-width: none; /*スクロールバー非表示（Firefox）*/
        /*background-color: #f1f5f7;*/
    }
    body::-webkit-scrollbar {
        display:none; /*スクロールバー非表示（Chrome・Safari）*/
    }

    img#logo {
        height: 1.5rem;
        max-width: 100%;
        vertical-align: bottom;
    }

    /*.tabs.is-boxed li.is-active a {*/
    /*    background-color: transparent;*/
    /*}*/
    .tabs li.is-active a {
        color: dimgray;
        font-weight: bold;
    }

    table, th, td {}
    .dragging {background-color: #eee;}
    .is-draggable{cursor: grab;}
    .is-draggable:active {cursor: grabbing;}

    .delete {
        vertical-align: middle;
        background-color: #f1466863;
    }
    .delete:hover {
        background-color: #f14668bb !important;
    }

    .control a.label {
        width: 5rem;
        cursor: unset;
    }
    .control input {
        min-width: 15rem
    }
    .field button {
        width: 5rem !important;
    }
</style>
<body>
<div id="app">
  <h3 class="title is-4 mx-2 mt-2 mb-0"
      style="white-space: nowrap; overflow-x: hidden;">
    <img id="logo" src="static/icon.png">
    Pier Player
    <span class="is-size-7" style="font-weight: normal;">CGM映像をサブモニタで再生します</span>
    <a href="index.html"
       style="vertical-align: bottom"
       class="button is-small is-link is-light is-pulled-right mt-1"
    >通常モードへ</a>
  </h3>

  <div class="tabs is-boxed is-centered is-fullwidth mb-2">
    <ul class="m-1" style="background-color: #f1f5f7">
      <li><a>CGMモード (β)</a></li>
    </ul>
  </div>

  <div style="margin: auto; width: fit-content; min-width: 360px; max-width: 95%;">
    <table class="table my-2 is-striped" style="width: 100%;">
      <tbody id="fileSelectBody">
      <tr class="is-size-7" style="white-space: nowrap;">
        <!--        <td></td>-->
        <!--        <td>映像タイトル（任意）</td>-->
        <!--        <td>CGM映像URL</td>-->
        <td colspan="3">
          <small>※表示に少し時間がかかる場合があります。</small>
          <button class="button is-small is-pulled-right"
                  @click="reset()"
          >表示リセット</button>
        </td>
      </tr>
      <tr
          v-for="(cgm, i) in cgmList"
          :key="i"
          :class="{
              'dragging': i === dragIndex,
              'has-background-success-light': isViewedBeforePlay(cgm),
              'has-background-danger-light': isPlaying(cgm)
            }"
      >
        <td
            :draggable="true"
            @dragstart="dragStart(i)"
            @dragenter="dragEnter(i)"
            @dragover.prevent
            @dragend="dragEnd()"
            style="width: min-content; white-space: nowrap; vertical-align: middle"
            class="px-0"
        >
            <span class="icon mx-0 is-draggable">
              <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
            </span>
        </td>
        <td style="width: 30rem;">
          <div class="field has-addons mb-1" style="white-space: nowrap;">
            <p class="control">
              <a class="button is-small label"
                 :class="{'is-success': isViewedBeforePlay(cgm), 'is-danger': isPlaying(cgm)}"
              >タイトル</a>
            </p>
            <p class="control is-expanded">
              <input type="text" v-model="cgm.title" class="input is-small" placeholder="映像タイトル（任意）">
            </p>
            <p>
              <button v-if="isExists(cgm.path) && !cgm.isViewed"
                      class="button is-small is-info ml-2"
                      @click="view(i)"
                      :class="isLoading ? 'is-loading' : ''"
              ><b>表示</b></button>
              <button  v-if="isViewedBeforePlay(cgm)"
                       class="button is-small is-success ml-2"
                       @click="play(i)"
                       :class="{'is-loading': isLoading}"
              ><b>再生</b></button>
              <button v-if="isPlaying(cgm)"
                      class="button is-small is-danger ml-2"
                      @click="close(i)"
              ><b>閉じる</b></button>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <a class="button is-small label"
                 :class="{'is-success': isViewedBeforePlay(cgm), 'is-danger': isPlaying(cgm)}"
              >URL</a>
            </p>
            <p class="control is-expanded">
              <input type="url" v-model="cgm.path" class="input is-small" placeholder="CGM映像URL">
            </p>
            <p>
              <button class="button is-small ml-2" @click="preview(cgm)">プレビュー</button>
            </p>
          </div>
        </td>
        <td style="width: 1rem; vertical-align: middle">
          <button class="delete" @click="removeRow(i)"></button>
        </td>
      </tr>

      </tbody>
    </table>
    <button class="button is-small is-link" @click="addRow()">追加</button>

    <br><br>
    <div class="m-4" style="width: 100%; max-width: 480px;">
      <h6 class="title is-6 mt-4 mb-1">映像プレビュー ※再生すると音が出ます</h6>
      <div class="box" style="width: 100%; background-color: whitesmoke; aspect-ratio: 16/9">
        <iframe :src="previewCgm.path" :key="videoReload"
                width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>
</div>

<script src="static/jquery.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            isLoading: false,
            previewCgm: { path: "" },
            cgmList: [],
            dragIndex: null,
            videoReload: 0,
        },
        async created() {
            this.cgmList = await window.api.getCgmList();
        },
        mounted() {
            //表示後にやりたいことはここに書ける
            window.api.cgmLoaded((event) => {
                this.isLoading = false;
            })
            window.api.errorCgmOpen((event) => {
                alert("CGM映像の表示に失敗しました。")
            })
        },
        watch: {
            cgmList: {
                handler: function (newVal, oldVal) {
                    window.api.storeCgmList(newVal)
                },
                deep: true
            }
        },
        methods: {
            view(i) {
                this.closeStatusAll()

                const cgm = this.cgmList[i]
                this.isLoading = true;
                window.api.openCgm(cgm).then(() => {
                    cgm.isViewed = true;
                });
            },
            play(i) {
                const cgm = this.cgmList[i]
                window.api.playCgm();
                cgm.isPlaying = true
            },
            close(i) {
                const cgm = this.cgmList[i]
                window.api.closeCgm();
                cgm.isViewed = false
                cgm.isPlaying = false
            },
            isViewedBeforePlay(cgm) {
                return cgm.isViewed && !cgm.isPlaying;
            },
            isPlaying(cgm) {
                return cgm.isPlaying
            },
            closeStatusAll() {
                window.api.closeCgm();
                this.cgmList.forEach((cgm) => {
                    cgm.isViewed = false
                    cgm.isPlaying = false
                })
            },
            reset() {
                this.closeStatusAll()
            },
            addRow() {
                this.cgmList.push({
                    path: "", title: "",
                    isViewed: false, isPlaying: false
                })
            },
            removeRow(i) {
                this.close(i);
                this.cgmList.splice(i, 1);
            },
            preview(cgm) {
                this.previewCgm.path = cgm.path
                this.videoReload++
            },
            storeFileInfo() {
                window.api.storeCgmList(this.cgmList);
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter (index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.cgmList.splice(this.dragIndex, 1)[0];
                this.cgmList.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd () {
                this.dragIndex = null;
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
        },
    })
</script>
</body>
</html>