<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
<!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
<!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
  <title>Pier Player</title>
  <link rel="stylesheet" href="static/bulma.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<style>
    body {
        -ms-overflow-style: none; /*スクロールバー非表示（IE・Edge）*/
        scrollbar-width: none; /*スクロールバー非表示（Firefox）*/
    }
    body::-webkit-scrollbar {
        display:none; /*スクロールバー非表示（Chrome・Safari）*/
    }

    img#logo {
        height: 1.25rem;
        max-width: 100%;
        vertical-align: bottom;
    }

    /*.tabs.is-boxed li.is-active a {*/
    /*    background-color: transparent;*/
    /*}*/
    .tabs li.is-active a {
        color: dimgray;
        font-weight: bold;
    }

    table, th, td {}
    table.table tr td {
        width: min-content;
        white-space: nowrap;
        vertical-align: middle;
    }

    .dragging {background-color: #eee;}
    .is-draggable{cursor: grab;}
    .is-draggable:active {cursor: grabbing;}

    .delete {
        vertical-align: middle;
        background-color: #f1466863;
    }
    .delete:hover {
        background-color: #f14668bb !important;
    }

    .dropArea {
        color: gray;
        font-weight: bold;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 5rem;
        border: 3px solid powderblue;
        background-color: #f2fdff;
        border-radius: 7px;
    }
    .enter {
        color: white;
        background-color: powderblue;
    }
</style>
<body>
<div id="app">
  <h3 class="title is-5 mx-2 mt-1 mb-0"
      style="white-space: nowrap; overflow-x: hidden;">
    <img id="logo" src="static/icon.png">
    Pier Player
<!--    <span class="is-size-7" style="font-weight: normal;">映像ファイルをサブモニタで再生します</span>-->
    <a href="cgm.html"
       style="vertical-align: bottom"
       class="button is-small is-link is-light is-pulled-right mt-1"
    >CGMモードへ</a>
  </h3>

  <div class="tabs is-boxed is-centered is-fullwidth mb-2">
    <ul class="my-1" style="background-color: #f1f5f7">
      <li @click="selectSundayTab()" class="is-active"><a>主日礼拝</a></li>
      <li @click="selectWednesdayTab()"><a>水曜礼拝</a></li>
<!--      <li @click="selectDawnTab()"><a>明け方</a></li>-->
      <li @click="selectOtherTab()"><a>その他</a></li>
    </ul>
  </div>

  <div class="mx-3">
    <div
        class="dropArea"
        @dragenter="dragDropEnter()"
        @dragleave="dragDropLeave()"
        @dragover.prevent
        @drop.prevent="droppedFile($event)"
        :class="{'enter': isEnter}"
    >ドラッグ＆ドロップしてファイルを追加</div>
    <p class="help is-danger">{{disallowedFileTypeMessage}}</p>

    <table class="table my-2 is-striped is-fullwidth">
      <tbody>
      <tr>
        <td colspan="2"></td>
        <td>
          <button class="button is-small is-danger"
                  v-if="isPlaying"
                  @click="close()"
          >停止</button>
        </td>
        <td></td>
      </tr>
      <tr
          v-for="(file, i) in files"
          :key="i"
          :draggable="true"
          @dragstart="dragStart(i)"
          @dragenter="dragEnter(i)"
          @dragover.prevent
          @dragend="dragEnd()"
          :class="[i === dragIndex ? 'dragging' : '', file.exists ? '' : 'has-background-danger-light']"
      >
        <td class="p-0">
          <span class="icon ml-0 mr-0 is-draggable">
            <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
          </span>
          <span v-if="isVideo(file.type)" class="icon has-text-link">
            <i class="mdi mdi-24px mdi-video"></i>
          </span>
          <span v-if="isAudio(file.type)" class="icon"
                style="color:#eebe3a!important">
            <i class="mdi mdi-24px mdi-music-note"></i>
          </span>
        </td>
        <td style="font-size: 0.9rem; max-width: 20rem; overflow-x: auto;">
          <a v-if="isVideo(file.type)" @click="preview(file)">{{ file.name }}</a>
          <span v-if="isAudio(file.type)">{{ file.name }}</span>
          <p class="has-text-danger" v-if="!file.exists"
          >ファイルが存在しません。追加し直してください。</p>
        </td>
        <td style="width: 4rem;">
          <button v-if="isExists(file.path)"
                  class="button is-small is-success"
                  @click="play(i)"
                  :disabled="!file.exists"
          >再生</button>
        </td>
        <td style="width: 1rem;" class="mx-2">
          <button class="delete" @click="removeRow(i)"></button>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <div class="field is-grouped">-->
<!--      <div class="file is-small is-link is-light">-->
<!--        <label class="file-label">-->
<!--          <input class="file-input" type="file" accept="video/*" @change="selectVideoFile($event)">-->
<!--          <span class="file-cta">-->
<!--          <span class="file-label"><b>映像追加</b></span>-->
<!--        </span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="file is-small is-warning is-light ml-2">-->
<!--        <label class="file-label">-->
<!--          <input class="file-input" type="file" accept="audio/*" @change="selectAudioFile($event)">-->
<!--          <span class="file-cta">-->
<!--          <span class="file-label"><b>音源追加</b></span>-->
<!--        </span>-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
    <br><br>
    <div style="width: 100%; max-width: 480px; margin: auto">
      <h6 class="title is-6 mt-4 mb-1">映像プレビュー</h6>
      <div class="box" style="width: 100%; background-color: whitesmoke; aspect-ratio: 16/9">
        <template v-if="previewFile.src">
          <video controls autoplay muted :key="videoReload">
            <source :src="previewFile.src" :type="previewFile.type" />
          </video><br>
          <small>※サブモニターでは再生バーは表示されません。</small>
        </template>
      </div>
    </div>
  </div>
  <br>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Pier Player - v{{version}}</p>
    </div>
  </footer>
</div>

<script src="static/jquery.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            files: [],
            sundayFiles: [{path: "", name: "", type: "", exists: true}],
            wednesdayFiles: [{path: "", name: "", type: "", exists: true}],
            otherFiles: [{path: "", name: "", type: "", exists: true}],
            isPlaying: false,
            selectedTab: "sunday",
            previewFile: { src: "", type: "" },
            dragIndex: null,
            isEnter: null,
            disallowedFileTypeMessage: "",
            videoReload: 0,
            version: "",
        },
        async created() {
            this.version = await window.api.getVersion()

            this.sundayFiles = await window.api.getFiles("sunday");
            this.wednesdayFiles = await window.api.getFiles("wednesday");
            this.otherFiles = await window.api.getFiles("other");
            await this.checkFilePaths();

            this.files = this.sundayFiles

            $(document).on("click", ".tabs li", function () {
                $(".tabs li").removeClass("is-active");
                $(this).addClass("is-active");
            })
        },
        mounted() {
            //表示後にやりたいことはここに書ける
        },
        watch: {
            files: {
                handler: function (newVal, oldVal) {
                    window.api.storeFiles(this.selectedTab, newVal);
                },
                deep: true
            }
            // previewFile: function (newVal) {
            //     this.preview();
            // }
        },
        methods: {
            selectFile(file) {
                this.files.push({
                    path: file.path,
                    name: file.name,
                    type: file.type,
                    exists: true
                })
            },
            selectVideoFile(event) {
                this.selectFile(event.target.files[0])
            },
            selectAudioFile(event) {
                this.selectFile(event.target.files[0])
            },
            isValidFilePath(path) {
            },
            isVideo(type) {
                return type.match(/video\/.*/)
            },
            isAudio(type) {
                return type.match(/audio\/.*/)
            },
            allowedFileType(type) {
                return this.isVideo(type) || this.isAudio(type)
            },
            async checkFilePaths() {
                this.sundayFiles = await window.api.checkFilePaths(this.sundayFiles);
                this.wednesdayFiles = await window.api.checkFilePaths(this.wednesdayFiles);
                this.otherFiles = await window.api.checkFilePaths(this.otherFiles);
            },
            async play(i) {
                this.isPlaying = true;
                const fileMeta = this.files[i]
                const isExists = await window.api.openSubWindow(fileMeta);
                console.log(isExists)
                if (!isExists) {
                    this.isPlaying = false;
                    alert(`ファイルが存在しません。\n「${fileMeta.name}」`)
                }
            },
            close() {
                window.api.closeSubWindow();
                this.isPlaying = false
            },
            addRow() {
                this.files.push({path: "", name: "", type: ""})
            },
            removeRow(i) {
                this.files.splice(i, 1);
            },
            preview(file) {
                this.previewFile.src = file.path
                this.previewFile.type = file.type
                this.videoReload++
            },
            async storeFileInfo() {
                window.api.storeFiles(this.selectedTab, this.files);
            },
            selectSundayTab() {
                this.files = this.sundayFiles;
                this.selectedTab = "sunday";
            },
            selectWednesdayTab() {
                this.files = this.wednesdayFiles;
                this.selectedTab = "wednesday";
            },
            selectOtherTab() {
                this.files = this.otherFiles;
                this.selectedTab = "other";
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter (index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.files.splice(this.dragIndex, 1)[0];
                this.files.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd () {
                this.dragIndex = null;
            },
            dragDropEnter() {
                this.isEnter = true;
            },
            dragDropLeave() {
                this.isEnter = false;
            },
            droppedFile(event) {
                this.disallowedFileTypeMessage = ""
                this.isEnter = false;

                const file = event.dataTransfer.files[0]
                if (!this.allowedFileType(file.type))
                    return this.disallowedFileTypeMessage = "動画か音源ファイルのみ追加可能です。"

                return this.selectFile(file)
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
        },
    })
</script>
</body>
</html>