<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src file://; script-src 'self'">-->
</head>
<style>
    html {
        background-color: black;
    }

    body {
        margin: 0;
        overflow: hidden;
        opacity: 0;
    }

    body.start {
        opacity: 1;
        animation-name: fadeIn;
        animation-duration: 1s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    body.start.end {
        opacity: 0;
        animation-name: blackOut;
        animation-duration: 1s;
    }

    @keyframes blackOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    video {
        width: 100%;
    }
</style>
<body>
<!--<video id="player">-->
<!--  <source id="source" src="" type="" />-->
<!--</video>-->
<!--<div id="blackScreen"></div>-->
<script>
    const body = document.getElementsByTagName('body')[0]
    let videoEl
    let audioEl

    window.onload = (event) => {
        window.timeline.timelineWindowShow((event, param) => {
            body.innerHTML = ""
            if (param.type.match(/video\/.*/)) playVideo(event, param)
            if (param.type.match(/audio\/.*/)) playAudio(event, param)
        })

        window.timeline.mainPlayer.restart((event, param) => {
            if (videoEl) videoEl.currentTime = 0
            if (audioEl) audioEl.currentTime = 0
        })
        window.timeline.mainPlayer.rewind((event, param) => {
            if (videoEl) videoEl.currentTime -= param.seekTime
            if (audioEl) audioEl.currentTime -= param.seekTime
        })
        window.timeline.mainPlayer.play((event, param) => {
            if (videoEl) videoEl.play()
            if (audioEl) audioEl.play()
        })
        window.timeline.mainPlayer.pause((event, param) => {
            if (videoEl) videoEl.pause()
            if (audioEl) audioEl.pause()
        })
        window.timeline.mainPlayer.forward((event, param) => {
            if (videoEl) videoEl.currentTime += param.seekTime
            if (audioEl) audioEl.currentTime += param.seekTime
        })
        window.timeline.mainPlayer.toEnd((event, param) => {
            if (videoEl) videoEl.currentTime = videoEl.duration
            if (audioEl) audioEl.currentTime = audioEl.duration
        })
        window.timeline.mainPlayer.seek((event, param) => {
            if (videoEl) videoEl.currentTime = param.newTime
            if (audioEl) audioEl.currentTime = param.newTime
        })

        function playVideo(event, param) {
            const source = document.createElement('source');
            source.src = param.path
            source.type = param.type

            const video = document.createElement('video');
            video.appendChild(source);
            body.appendChild(video);
            videoEl = video

            video.play().then(() => {
                body.classList.add("start")
            }).catch((e) => console.error(e))

            listeners(video)
        }

        function playAudio(event, param) {
            const audio = document.createElement('audio');
            audio.src = param.path
            audio.type = param.type
            body.appendChild(audio);
            audioEl = audio

            audio.play()

            listeners(audio)
        }

        function listeners(mediaEl) {
            mediaEl.addEventListener('ready', (event) => {
                window.timeline.listener.targetReady();
            });
            mediaEl.addEventListener('loadedmetadata', (event) => {
                window.timeline.listener.targetDuration(mediaEl.duration);
            });
            mediaEl.addEventListener('playing', (event) => {
                window.timeline.listener.targetPlaying();
            });
            mediaEl.addEventListener('timeupdate', (event) => {
                window.timeline.listener.targetTimeupdate(mediaEl.currentTime);
            });
            mediaEl.addEventListener('pause', (event) => {
                window.timeline.listener.targetPaused();
            });
            mediaEl.addEventListener('ended', (event) => {
                body.classList.add("end")
                window.timeline.listener.targetEnded();
            });
        }

        // window.timeline.timelineWindowHide((event) => {
        //     body.innerHTML = ""
        //     body.classList.remove("start")
        //     body.classList.remove("end")
        // })
    };
</script>

</body>
</html>