<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src file://; script-src 'self'">-->
</head>
<style>
    html {
        background-color: black;
    }

    body {
        margin: 0;
        overflow: hidden;
        opacity: 0;
    }

    /*body.start {*/
    /*    opacity: 1;*/
    /*    animation-name: fadeIn;*/
    /*    animation-duration: 1s;*/
    /*}*/

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /*body.start.end {*/
    /*    opacity: 0;*/
    /*    animation-name: blackOut;*/
    /*    animation-duration: 1s;*/
    /*}*/

    @keyframes blackOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    video {
        width: 100%;
    }
</style>
<body>
<!--<video id="player">-->
<!--  <source id="source" src="" type="" />-->
<!--</video>-->
<!--<div id="blackScreen"></div>-->
<script>
    const body = document.getElementsByTagName('body')[0]
    let videoEl
    let videoGainNode
    let audioEl
    let audioGainNode

    let file

    window.onload = (event) => {
        window.timeline.timelineWindowShow((event, param) => {
            file = {...param.file}

            body.innerHTML = ""
            if (!file.type) return
            if (file.type.match(/video\/.*/)) playVideo(event)
            if (file.type.match(/audio\/.*/)) playAudio(event)
        })

        window.timeline.mainPlayer.restart((event, param) => {
            if (videoEl) videoEl.currentTime = 0
            if (audioEl) audioEl.currentTime = 0
        })
        window.timeline.mainPlayer.rewind((event, param) => {
            if (videoEl) videoEl.currentTime -= param.seekTime
            if (audioEl) audioEl.currentTime -= param.seekTime
        })
        window.timeline.mainPlayer.play((event, param) => {
            if (videoEl) videoEl.play()
            if (audioEl) audioEl.play()
        })
        window.timeline.mainPlayer.pause((event, param) => {
            if (videoEl) videoEl.pause()
            if (audioEl) audioEl.pause()
        })
        window.timeline.mainPlayer.forward((event, param) => {
            if (videoEl) videoEl.currentTime += param.seekTime
            if (audioEl) audioEl.currentTime += param.seekTime
        })
        window.timeline.mainPlayer.toEnd((event, param) => {
            if (videoEl) videoEl.currentTime = videoEl.duration
            if (audioEl) audioEl.currentTime = audioEl.duration
        })
        window.timeline.mainPlayer.seek((event, param) => {
            if (videoEl) videoEl.currentTime = param.newTime
            if (audioEl) audioEl.currentTime = param.newTime
        })
        window.timeline.mainPlayer.fileMetaChange((event, param) => {
            file = {...param.file}
            if (videoEl)
                videoGainNode.gain.value = file.gain;
            if (audioEl)
                audioGainNode.gain.value = file.gain;
        })

        function playVideo(event) {
            // video要素生成
            const source = document.createElement('source');
            source.src = file.path
            source.type = file.type

            const video = document.createElement('video');
            video.appendChild(source);
            body.appendChild(video);
            videoEl = video

            // ゲイン設定
            videoGainSourceSetting()
            videoGainNode.gain.value = file.gain;

            // 再生位置
            video.currentTime = file.startTrimSec

            video.play().then(() => {
                fadeInSetting(`${file.startFadeSec}s`)
            }).catch((e) => console.error(e))

            listeners(video)
        }

        function playAudio(event) {
            const audio = document.createElement('audio');
            audio.src = file.path
            audio.type = file.type

            body.appendChild(audio);
            audioEl = audio

            audioGainSourceSetting()
            audioGainNode.gain.value = file.gain;

            audio.play()

            listeners(audio)
        }

        function listeners(mediaEl) {
            mediaEl.addEventListener('ready', (event) => {
                window.timeline.listener.targetReady();
            });
            mediaEl.addEventListener('loadedmetadata', (event) => {
                window.timeline.listener.targetDuration(mediaEl.duration);
            });
            mediaEl.addEventListener('playing', (event) => {
                // body.classList.remove("end")
                window.timeline.listener.targetPlaying();
                fadeOutSetting(`1`, ``, ``)
            });
            mediaEl.addEventListener('timeupdate', (event) => {
                window.timeline.listener.targetTimeupdate(mediaEl.currentTime);

                if (endTimeReached(mediaEl)) {
                    mediaEl.pause()
                    mediaEl.currentTime = file.startTrimSec
                    window.timeline.listener.targetEnded();
                }

                if (fadeOutReached(mediaEl))
                    fadeOutSetting(`0`, `blackOut`, `${file.endFadeSec}s`)
            });
            mediaEl.addEventListener('pause', (event) => {
                window.timeline.listener.targetPaused();
            });
            mediaEl.addEventListener('ended', (event) => {
                // body.classList.add("end")
                window.timeline.listener.targetEnded();
            });
        }

        function videoGainSourceSetting() {
            videoGainNode = generateGainNode(videoEl)
        }

        function audioGainSourceSetting() {
            audioGainNode = generateGainNode(audioEl)
        }

        function generateGainNode(element) {
            // AudioContextの作成
            const context = new (window.AudioContext || window.webkitAudioContext)();
            // AudioContextのソースと接続
            const source = context.createMediaElementSource(element);
            // GainNodeの作成
            const gainNode = context.createGain();

            // 音声ソースをGainNodeに接続
            source.connect(gainNode);
            // GainNodeを出力に接続
            gainNode.connect(context.destination);

            return gainNode
        }

        function fadeInSetting(duration) {
            body.style.opacity = "1"
            body.style.animationName = "fadeIn"
            body.style.animationDuration = duration
        }

        function fadeOutSetting(opacity, animationName, duration) {
            body.style.opacity = opacity
            body.style.animationName = animationName
            body.style.animationDuration = duration
        }

        function fadeOutReached(mediaEl) {
            // マージンで 30ms いれておく
            return mediaEl.currentTime >= mediaEl.duration - file.endTrimSec - file.endFadeSec - 0.03;
        }

        function endTimeReached(mediaEl) {
            // マージンで 30ms いれておく
            return mediaEl.currentTime >= mediaEl.duration - file.endTrimSec - 0.03;
        }

        // window.timeline.timelineWindowHide((event) => {
        //     body.innerHTML = ""
        //     body.classList.remove("start")
        //     body.classList.remove("end")
        // })
    };
</script>

</body>
</html>