<nav class="navbar is-fixed-bottom has-shadow">
  <div class="navbar-brand">
    <a href="index.html"
       id="is-file"
       class="navbar-item is-expanded is-tab is-flex is-justify-content-center p-1">
      <img src="../../static/img/Files.webp" height="24" width="24" class="mr-2">
      <small>ファイル再生</small>
    </a>
    <a href="cgm.html"
       id="is-cgm"
       class="navbar-item is-expanded is-tab is-flex is-justify-content-center p-1">
      <img src="../../static/img/CGM.webp" height="24" width="24" class="mr-2">
      <small>CGM</small>
    </a>
    <a href="showcase.html"
       id="is-vimeo"
       class="navbar-item is-expanded is-tab is-flex is-justify-content-center p-1">
      <img src="../../static/img/Vimeo.webp" height="24" width="24" class="mr-2">
      Vimeo
    </a>
  </div>
</nav>
