<aside class="menu">
  <p class="menu-label mx-2 mt-3 mb-1">再生モード</p>
  <ul class="menu-list">
    <li>
      <a href="index.html" id="is-file" style="vertical-align: middle;">
        <img src="../../static/img/Files.webp" height="18" width="18" class="mr-1">
        <small>ファイル</small>
      </a>
    </li>
    <li>
      <a href="cgm.html" id="is-cgm" style="vertical-align: middle;">
        <img src="../../static/img/CGM.webp" height="18" width="18" class="mr-1">
        <small>CGM</small>
      </a>
    </li>
    <li>
      <a href="showcase.html" id="is-vimeo" style="vertical-align: middle;">
        <img src="../../static/img/Vimeo.webp" height="18" width="18" class="mr-1">
        <small>Vimeo</small>
      </a>
    </li>
    <li>
      <a href="timeline.html" id="is-timeline" style="vertical-align: middle;">
        <img src="../../static/img/Timeline.webp" height="18" width="18" class="mr-1">
        <small>タイムライン</small>
      </a>
    </li>
  </ul>
</aside>