<!DOCTYPE html>
<html lang="ja" class="has-navbar-fixed-bottom">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
  <title>Pier Player</title>
  <link rel="stylesheet" href="../../static/css/bulma.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/side-menu.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<style>
    .dropArea {
        color: gray;
        font-weight: bold;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 5rem;
        border: 3px solid powderblue;
        background-color: #f2fdff;
        border-radius: 7px;
    }

    .enter {
        color: white;
        background-color: powderblue;
    }

    td {
        vertical-align: middle !important;
    }
</style>
<body>
<div id="app" v-cloak>
  <aside id="sideMenu"></aside>

  <main>
    <div class="tabs is-boxed is-centered is-fullwidth mb-2">
      <ul style="background-color: #f1f5f7">
        <li @click="selectSundayTab()" class="is-active"><a>主日礼拝</a></li>
        <li @click="selectWednesdayTab()"><a>水曜礼拝</a></li>
        <!--      <li @click="selectDawnTab()"><a>明け方</a></li>-->
        <li @click="selectOtherTab()"><a>その他</a></li>
      </ul>
    </div>

    <div style="margin: auto; width: fit-content; min-width: 360px; max-width: 95%;">
      <div
          class="dropArea"
          @dragenter="dragDropEnter()"
          @dragleave="dragDropLeave()"
          @dragover.prevent
          @drop.prevent="droppedFile($event)"
          :class="{'enter': isEnter}"
      >ドラッグ＆ドロップしてファイルを追加
      </div>
      <p class="help is-danger">{{disallowedFileTypeMessage}}</p>

      <table class="table my-2 is-fullwidth">
        <tbody :key="reDraw">
        <tr>
          <td colspan="4">
            <button class="button is-small is-pulled-right"
                    @click="reset()"
            >表示リセット
            </button>
          </td>
        </tr>
        <tr v-for="(file, i) in files"
            :key="i"
            :class="{
              'dragging': i === dragIndex,
              'has-background-success-light has-text-weight-bold': file.isPlaying
            }">
          <td :draggable="true"
              @dragstart="dragStart(i)"
              @dragenter="dragEnter(i)"
              @dragover.prevent
              @dragend="dragEnd()"
              style="white-space: nowrap;">
            <span class="icon ml-0 mr-0 is-draggable">
              <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
            </span>
            <span v-if="isVideo(file.type)" class="icon has-text-link">
              <i class="mdi mdi-24px mdi-video"></i>
            </span>
            <span v-if="isAudio(file.type)" class="icon" style="color:#eebe3a!important">
              <i class="mdi mdi-24px mdi-music-note"></i>
            </span>
          </td>
          <td style="font-size: 0.9rem; max-width: 20rem; overflow-x: auto;">
            <a v-if="isVideo(file.type)" @click="preview(file)">{{ file.name }}</a>
            <span v-if="isAudio(file.type)">{{ file.name }}</span>
            <span v-if="file.exists"
                  class="icon is-small has-text-grey is-clickable"
                  @click="openFolder(file.path)">
              <i class="mdi mdi-folder-open"></i>
            </span>
            <p class="has-text-danger" v-if="!file.exists"
            >ファイルが開けませんでした。ファイルが無いか、アクセスできない場所にあります。</p>
          </td>
          <td class="px-1">
            <button v-if="isExists(file.path) && !file.isPlaying"
                    class="button is-small is-success"
                    @click="play(i)"
                    :disabled="!file.exists"
            ><b>再生</b></button>
            <button v-if="file.isPlaying"
                    class="button is-small is-danger"
                    @click="close(i)"
            ><b>停止</b></button>
          </td>
          <td style="width: 1rem;" class="mx-2">
            <button class="delete" @click="removeRow(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <br><br>
      <div style="width: 100%; max-width: 480px; margin: auto">
        <h6 class="title is-6 mt-4 mb-1">映像プレビュー</h6>
        <div class="box" style="width: 100%; background-color: whitesmoke; aspect-ratio: 16/9">
          <template v-if="previewFile.src">
            <video controls autoplay muted :key="videoReload">
              <source :src="previewFile.src" :type="previewFile.type"/>
            </video>
            <br>
            <small>※サブモニターでは再生バーは表示されません。</small>
          </template>
        </div>
      </div>
    </div>

    <br>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Pier Player - v{{version}}</p>
      </div>
    </footer>
  </main>
</div>


<script src="../../static/js/jquery.js"></script>
<script>
    fetch('../components/side-nav.html')
        .then(res => res.text())
        .then(html => {
            $('#sideMenu').replaceWith(html);
            $('#is-file').addClass("is-active");
        });
</script>
<script>
    new Vue({
        el: "#app",
        data: {
            files: [],
            sundayFiles: [{path: "", name: "", type: "", exists: true}],
            wednesdayFiles: [{path: "", name: "", type: "", exists: true}],
            otherFiles: [{path: "", name: "", type: "", exists: true}],
            // isPlaying: false,
            selectedTab: "sunday",
            previewFile: {src: "", type: ""},
            dragIndex: null,
            isEnter: null,
            disallowedFileTypeMessage: "",
            videoReload: 0,
            reDraw: 0,
            version: "",
        },
        async created() {
            this.version = await window.api.getVersion()

            this.sundayFiles = await window.api.getFiles("sunday");
            this.wednesdayFiles = await window.api.getFiles("wednesday");
            this.otherFiles = await window.api.getFiles("other");
            await this.checkFilePaths();

            this.files = this.sundayFiles

            $(document).on("click", ".tabs li", function () {
                $(".tabs li").removeClass("is-active");
                $(this).addClass("is-active");
            })
        },
        computed: {
            isPlaying(file) {
                return file.isPlaying
            },
        },
        mounted() {
            //表示後にやりたいことはここに書ける
        },
        watch: {
            files: {
                handler: function (newVal, oldVal) {
                    window.api.storeFiles(this.selectedTab, newVal);
                },
                deep: true
            }
            // previewFile: function (newVal) {
            //     this.preview();
            // }
        },
        methods: {
            async selectFile(file) {
                const path = window.webUtils.getPathForFile(file)
                const checkedFile = await window.api.checkFilePath({
                    path: path,
                    name: file.name,
                    type: file.type,
                    exists: true
                });

                this.files.push(checkedFile)
            },
            selectVideoFile(event) {
                this.selectFile(event.target.files[0])
            },
            selectAudioFile(event) {
                this.selectFile(event.target.files[0])
            },
            isValidFilePath(path) {
            },
            isVideo(type) {
                return type.match(/video\/.*/)
            },
            isAudio(type) {
                return type.match(/audio\/.*/)
            },
            allowedFileType(type) {
                return this.isVideo(type) || this.isAudio(type)
            },
            async checkFilePaths() {
                this.sundayFiles = await window.api.checkFilePaths(this.sundayFiles);
                this.wednesdayFiles = await window.api.checkFilePaths(this.wednesdayFiles);
                this.otherFiles = await window.api.checkFilePaths(this.otherFiles);
            },
            openFolder(filePath) {
                // 正規表現で最後の「\ファイル名」を削除
                const folderPath = filePath.replace(/[\\/][^\\/]+$/, "");
                window.api.openFolder(folderPath);
            },
            play(i) {
                this.closeStatusAll()

                // this.isPlaying = true;
                const file = this.files[i]
                file.isPlaying = true;

                window.api.openSubWindow(file)
                    .then((isExists) => {
                        if (!isExists) {
                            // this.isPlaying = false;
                            alert(`ファイルが開けませんでした。\n「${file.name}」`)
                            file.isPlaying = false;
                        }
                        this.reDraw++
                    })
            },
            close(i) {
                const file = this.files[i]
                window.api.closeSubWindow();
                file.isPlaying = false
                this.reDraw++
            },
            // close() {
            //     window.api.closeSubWindow();
            //     // this.isPlaying = false
            // },
            closeStatusAll() {
                window.api.closeSubWindow();
                this.files.forEach((file) => {
                    file.isPlaying = false
                })
                this.reDraw++
            },
            reset() {
                this.closeStatusAll()
            },
            addRow() {
                this.files.push({path: "", name: "", type: ""})
            },
            removeRow(i) {
                this.files.splice(i, 1);
            },
            isPlaying(file) {
                return file.isPlaying
            },
            preview(file) {
                this.previewFile.src = file.path
                this.previewFile.type = file.type
                this.videoReload++
            },
            async storeFileInfo() {
                window.api.storeFiles(this.selectedTab, this.files);
            },
            selectSundayTab() {
                this.files = this.sundayFiles;
                this.selectedTab = "sunday";
            },
            selectWednesdayTab() {
                this.files = this.wednesdayFiles;
                this.selectedTab = "wednesday";
            },
            selectOtherTab() {
                this.files = this.otherFiles;
                this.selectedTab = "other";
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter(index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.files.splice(this.dragIndex, 1)[0];
                this.files.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd() {
                this.dragIndex = null;
            },
            dragDropEnter() {
                this.isEnter = true;
            },
            dragDropLeave() {
                this.isEnter = false;
            },
            droppedFile(event) {
                this.disallowedFileTypeMessage = ""
                this.isEnter = false;

                const file = event.dataTransfer.files[0]
                if (!this.allowedFileType(file.type))
                    return this.disallowedFileTypeMessage = "動画か音源ファイルのみ追加可能です。"

                return this.selectFile(file)
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
        },
    })
</script>
</body>
</html>