<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
  <title>Pier Player</title>
  <link rel="stylesheet" href="../../static/css/bulma.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/side-menu.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="appVimeoShowcase" v-cloak>
  <aside id="sideMenu"></aside>

  <main>
    <div class="tabs is-boxed is-centered is-fullwidth mb-4">
      <ul style="background-color: #f1f5f7">
        <li class="is-active"><a>ショーケース</a></li>
        <li><a href="vimeo.html">個別映像</a></li>
      </ul>
    </div>

    <div style="margin: auto; width: fit-content; min-width: 360px; max-width: 95%;">
      <h5 class="title is-5 mb-1">設定</h5>
      <div class="box has-background-info-light">
        <div class="field">
          <label class="label is-size-7">ショーケースURL</label>
          <p class="control">
            <input type="url" v-model="showcase.rawUrl" class="input is-small" placeholder="VimeoショーケースURL">
          </p>
          <p v-if="showcaseRawUrlExists && showcaseUrlInvalid" class="has-text-danger"
          >VimeoショーケースURLの形式が正しくありません。</p>
          <small>{{showcaseUrl}}</small>
        </div>
        <div class="field">
          <label class="label is-size-7">パスワード</label>
          <p class="control">
            <input type="text" v-model="showcase.password" class="input is-small" placeholder="パスワード">
          </p>
        </div>

        <div v-if="canGetTitles">
          <button class="button is-info is-outlined is-fullwidth mt-4"
                  :class="{'is-loading': isGettingShowcaseVideos}"
                  @click="getShowcaseVideoTitles()">
            ショーケースの映像一覧を取得
          </button>
          <label class="checkbox">
            <input type="checkbox" v-model="overrideVideoList"/>
            <small>映像一覧を上書きする</small>
          </label>
        </div>
      </div>

      <br>

      <h5 class="title is-5 mb-1">
        映像一覧
        <button class="button is-small is-pulled-right" @click="reset()">
          表示リセット
        </button>
      </h5>
      <table class="table my-2 is-narrow is-striped" style="width: 100%;">
        <thead>
        <tr class="is-size-7" style="white-space: nowrap;">
          <th></th>
          <th>
            <span>タイトル（完全一致）</span>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="(vimeo, i) in vimeoList"
            :key="i"
            :class="{
              'dragging': i === dragIndex,
              'has-background-success-light': isViewedBeforePlay(vimeo),
              'has-background-danger-light': isPlaying(vimeo)
            }"
        >
          <td
              :draggable="true"
              @dragstart="dragStart(i)"
              @dragenter="dragEnter(i)"
              @dragover.prevent
              @dragend="dragEnd()"
              style="width: 24px; white-space: nowrap; vertical-align: middle"
              class="px-0"
          >
            <span class="icon mx-0 is-draggable">
              <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
            </span>
          </td>
          <td style="width: 30rem;">
            <div class="field has-addons" style="white-space: nowrap;">
              <p class="control is-expanded">
                <input type="text"
                       v-model="vimeo.title"
                       class="input "
                       placeholder="映像タイトル（完全一致）">
              </p>
              <p>
                <button v-if="isExists(vimeo.title) && !vimeo.isViewed"
                        class="button  is-info ml-2"
                        @click="view(i)"
                        :class="{'is-loading': isLoading}"
                ><b>表示</b></button>
                <button v-if="isViewedBeforePlay(vimeo)"
                        class="button  is-success ml-2"
                        @click="play(i)"
                        :class="{'is-loading': isLoading}"
                ><b>再生</b></button>
                <button v-if="isPlaying(vimeo)"
                        class="button  is-danger ml-2"
                        @click="close(i)"
                ><b>閉じる</b></button>
              </p>
            </div>
          </td>
          <td class="pl-0 pr-1" style="width: 1rem; vertical-align: middle">
            <button class="delete" @click="removeRow(i)"></button>
          </td>
        </tr>

        </tbody>
      </table>
      <button class="button is-info is-outlined is-fullwidth mt-5" @click="addRow()">
        ＋追加
      </button>
    </div>
    <br>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Pier Player - v{{version}}</p>
      </div>
    </footer>
  </main>
</div>

<script src="../../static/js/jquery.js"></script>
<script>
    fetch('../components/side-nav.html')
        .then(res => res.text())
        .then(html => {
            $('#sideMenu').replaceWith(html);
            $('#is-vimeo').addClass("is-active");
        });
</script>
<script>
    new Vue({
        el: "#appVimeoShowcase",
        data: {
            isLoading: false,
            isGettingShowcaseVideos: false,
            previewVimeo: {title: ""},
            showcase: {
                rawUrl: "",
                password: ""
            },
            showcaseUrl: "",
            vimeoList: [],
            dragIndex: null,
            overrideVideoList: true,
            version: "",
            mainApi: window.api,
            showcaseApi: window.vimeoShowcase,
        },
        async created() {
            this.vimeoList = await this.showcaseApi.getPlayList();
            this.showcase = await this.showcaseApi.getShowcase();
            this.version = await this.mainApi.getVersion()
        },
        mounted() {
            // this.isLoading = false
        },
        watch: {
            "showcase.rawUrl": function (newVal, oldVal) {
                if (!newVal) return this.showcaseUrl = ""
                this.showcaseUrl = newVal.replace(/\?.*$/, '') + '/embed';
            },
            showcase: {
                handler: function (newVal, oldVal) {
                    this.showcaseApi.storeShowcase(newVal)
                },
                deep: true
            },
            vimeoList: {
                handler: function (newVal, oldVal) {
                    this.showcaseApi.storePlayList(newVal)
                },
                deep: true
            }
        },
        computed: {
            showcaseUrlInvalid() {
                // 正規表現で形式をチェック
                const pattern = /^https:\/\/vimeo\.com\/showcase\/\d+\/embed$/;
                return !pattern.test(this.showcaseUrl)
            },
            showcaseRawUrlExists() {
                return !!this.showcase.rawUrl
            },
            showcasePasswordExists() {
                return !!this.showcase.password
            },
            canGetTitles() {
                return !this.showcaseUrlInvalid && this.showcasePasswordExists
            },
            showcaseUrlWithPassword() {
                return `${this.showcaseUrl}?password=${this.showcase.password}`
            },
        },
        methods: {
            view(i) {
                this.closeAll()

                const vimeo = this.vimeoList[i]
                this.showcaseApi.openVimeoShowcase(vimeo, this.showcaseUrlWithPassword).then(() => {
                    vimeo.isViewed = true;
                });
            },
            play(i) {
                const vimeo = this.vimeoList[i]
                this.showcaseApi.playVimeoShowcase();
                vimeo.isPlaying = true
            },
            close(i) {
                const vimeo = this.vimeoList[i]
                this.showcaseApi.closeVimeoShowcase();
                vimeo.isViewed = false
                vimeo.isPlaying = false
            },
            isViewedBeforePlay(vimeo) {
                return vimeo.isViewed && !vimeo.isPlaying;
            },
            isPlaying(vimeo) {
                return vimeo.isPlaying
            },
            closeAll() {
                this.showcaseApi.closeVimeoShowcase();
                this.vimeoList.forEach((vimeo) => {
                    vimeo.isViewed = false
                    vimeo.isPlaying = false
                })
            },
            reset() {
                this.closeAll()
            },
            addRow() {
                this.vimeoList.push({
                    title: "",
                    isViewed: false,
                    isPlaying: false
                })
            },
            removeRow(i) {
                this.close(i);
                this.vimeoList.splice(i, 1);
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter(index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.vimeoList.splice(this.dragIndex, 1)[0];
                this.vimeoList.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd() {
                this.dragIndex = null;
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
            getShowcaseVideoTitles() {
                if (this.overrideVideoList) {
                    const ok = confirm("映像一覧を取得し、上書きしてもよいですか？");
                    if (!ok) return
                }

                this.isGettingShowcaseVideos = true;
                fetch(this.showcaseUrlWithPassword).then(async res => {
                    const html = await res.text()
                    // 正規表現で "clips": [ ... ] を抜き出す
                    const match = html.match(/"clips"\s*:\s*(\[[\s\S]*?])/);
                    if (!match) return alert("映像一覧を取得できませんでした。URLとパスワードを確認してください。\n\n何度試しても取得できない場合は手動で追加してください。");

                    try {
                        const clips = JSON.parse(match[1]);
                        const titles = clips.map(clip => {
                            return {
                                isPlaying: false,
                                isViewed: false,
                                title: clip.title
                            };
                        })
                        if (this.overrideVideoList) this.vimeoList = titles
                        else this.vimeoList = this.vimeoList.concat(titles)
                        alert("映像一覧を取得しました。");
                    } catch (e) {
                        alert("映像一覧の取得に失敗しました。手動で追加してください。");
                    }
                }).catch((e) => {
                    alert("映像一覧の取得に失敗しました。手動で追加してください。");
                }).finally(() => {
                    this.isGettingShowcaseVideos = false;
                })
            },
        },
    })
</script>
</body>
</html>