<!DOCTYPE html>
<html lang="ja" class="has-navbar-fixed-bottom">
<head>
  <meta charset="UTF-8">
  <!--  &lt;!&ndash; https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP &ndash;&gt;-->
  <!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
  <title>Pier Player</title>
  <link rel="stylesheet" href="../../static/css/bulma.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/timeline.css">
  <link rel="stylesheet" href="../../static/css/side-menu.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<style>
    .dropArea {
        color: gray;
        font-weight: bold;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 5rem;
        border: 3px solid powderblue;
        background-color: #f2fdff;
        border-radius: 7px;
    }

    .enter {
        color: white;
        background-color: powderblue;
    }

    td {
        vertical-align: middle !important;
    }
</style>
<body>
<div id="appTimeline" v-cloak>
  <aside id="sideMenu"></aside>

  <main>
    <div class="p-4" style="margin: auto;">
      <h5 class="title is-5 my-3">
        タイムライン
        <button class="button is-small is-pulled-right"
                @click="reset()"
        >表示リセット
        </button>
      </h5>
      <div
          class="dropArea"
          @dragenter="dragDropEnter()"
          @dragleave="dragDropLeave()"
          @dragover.prevent
          @drop.prevent="droppedFile($event)"
          :class="{'enter': isEnter}"
      >ドラッグ＆ドロップしてファイルを追加
      </div>
      <p class="help is-danger">{{disallowedFileTypeMessage}}</p>

      <br>
      <table class="table my-2 is-striped is-fullwidth">
        <tbody :key="reDraw">
        <tr v-for="(file, i) in files"
            :key="i"
            :class="{
              'dragging': i === dragIndex,
              'has-background-success-light has-text-weight-bold': file.isPlaying
            }">
          <td :draggable="true"
              @dragstart="dragStart(i)"
              @dragenter="dragEnter(i)"
              @dragover.prevent
              @dragend="dragEnd()"
              class="pl-1 pr-0 fitContent"
              style="white-space: nowrap;">
            <span class="icon ml-0 mr-0 is-draggable">
              <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
            </span>
          </td>
          <td style="font-size: 0.9rem; max-width: 20rem; overflow-x: auto;">
              <span v-if="isVideo(file.type)" class="icon has-text-link">
                <i class="mdi mdi-18px mdi-video"></i>
              </span>
            <span v-if="isAudio(file.type)" class="icon" style="color:#eebe3a!important">
                <i class="mdi mdi-18px mdi-music-note"></i>
              </span>
            <a v-if="isVideo(file.type)" @click="preview(file)">{{ file.name }}</a>
            <span v-if="isAudio(file.type)">{{ file.name }}</span>
            <span v-if="file.exists && file.path"
                  class="icon is-small has-text-grey is-clickable"
                  @click="openFolder(file.path)">
                <i class="mdi mdi-folder-open"></i>
              </span>
            <p class="has-text-danger" v-if="!file.exists"
            >ファイルが開けませんでした。ファイルが無いか、アクセスできない場所にあります。</p>

            <nav class="level is-mobile mb-1">
              <div class="level-left">
                <div class="">
                  <p class="is-size-7">開始位置</p>
                  <div class="field has-addons my-1">
                    <p class="control">
                      <a @click="decreaseStartTrim(i)">-</a>
                    </p>
                    <p class="control mx-1">
                      <input v-model="file.startTrimSec"
                             class="input underlined is-small px-1 py-0 has-text-centered"
                             type="number" min="0"
                             style="width: 2.75rem;height: 1.75em;">
                    </p>
                    <p class="control">
                      <a @click="increaseStartTrim(i)">+</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="">
                  <p class="is-size-7 has-text-right">終了位置</p>
                  <div class="field has-addons my-1">
                    <p class="control">
                      <a @click="decreaseEndTrim(i)">-</a>
                    </p>
                    <p class="control mx-1">
                      <input v-model="file.endTrimSec"
                             class="input underlined is-small px-1 has-text-centered"
                             type="number" min="0"
                             style="width: 2.75rem;height: 1.75em;">
                    </p>
                    <p class="control">
                      <a @click="increaseEndTrim(i)">+</a>
                    </p>
                  </div>
                </div>
              </div>
            </nav>

            <!-- プレイヤー -->
            <div v-if="file.isPlaying" class="timelinePlayer">
              <nav class="level is-mobile mb-1">
                <p>{{ currentTimeColon }}</p>
                <progress
                    class="mx-2 mb-0"
                    style="cursor: pointer;"
                    :value="playerMeta.currentTime"
                    :max="playerMeta.duration"
                    @mousedown="startSeek"
                ></progress>
                <p>{{ durationColon }}</p>
              </nav>

              <nav class="level is-mobile">
                <p class="level-item">
                  <a class="icon is-clickable has-text-success-dark" @click="restart()">
                    <span class="mdi mdi-24px mdi-skip-previous"/>
                  </a>
                </p>
                <p class="level-item">
                  <a class="icon is-clickable has-text-success-dark" @click="rewind(10)">
                    <span class="mdi mdi-24px mdi-rewind-10"/>
                  </a>
                </p>
                <p class="level-item">
                <span v-if="!playerMeta.isPlaying"
                      class="icon is-large is-clickable playIcon"
                      @click="play()">
                  <i class="mdi mdi mdi-48px mdi-play-circle"></i>
                </span>
                  <span v-if="playerMeta.isPlaying"
                        class="icon is-large is-clickable pauseIcon"
                        @click="pause()">
                  <i class="mdi mdi mdi-48px mdi-pause-circle"></i>
                </span>
                </p>
                <p class="level-item">
                  <a class="icon is-clickable has-text-success-dark" @click="forward(10)">
                    <span class="mdi mdi-24px mdi-fast-forward-10"/>
                  </a>
                </p>
                <p class="level-item">
                  <a class="icon is-clickable has-text-success-dark" @click="toEnd()">
                    <span class="mdi mdi-24px mdi-skip-next"/>
                  </a>
                </p>
              </nav>
            </div>
            <!-- プレイヤーここまで -->
          </td>
          <td class="px-1 fitContent">
            <button v-if="isExists(file.path) && !file.isPlaying"
                    class="button is-small is-success"
                    @click="start(i)"
                    :disabled="!file.exists"
            ><b>再生</b></button>
            <button v-if="file.isPlaying"
                    class="button is-small is-danger"
                    @click="close(i)"
            ><b>停止</b></button>
          </td>
          <td class="mx-1 fitContent">
            <button class="delete" @click="removeRow(i)"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <br><br>
      <div style="width: 100%; max-width: 480px; margin: auto">
        <h6 class="title is-6 mt-4 mb-1">映像プレビュー</h6>
        <div class="box" style="width: 100%; background-color: whitesmoke; aspect-ratio: 16/9">
          <template v-if="previewFile.src">
            <video controls autoplay muted :key="videoReload">
              <source :src="previewFile.src" :type="previewFile.type"/>
            </video>
            <br>
            <small>※サブモニターでは再生バーは表示されません。</small>
          </template>
        </div>
      </div>
    </div>

    <br>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Pier Player - v{{version}}</p>
      </div>
    </footer>
  </main>
</div>


<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/time.js"></script>
<script>
    fetch('../components/side-nav.html')
        .then(res => res.text())
        .then(html => {
            $('#sideMenu').replaceWith(html);
            $('#is-timeline').addClass("is-active");
        });
</script>
<script>
    new Vue({
        el: "#appTimeline",
        data: {
            files: [],
            // files: [{
            //     path: "",
            //     name: "",
            //     type: "",
            //     exists: true,
            //     //トリミング
            //     startTrimSec: 0,
            //     endTrimSec: 0,
            // }],
            previewFile: {src: "", type: ""},
            dragIndex: null,
            isEnter: null,
            disallowedFileTypeMessage: "",
            videoReload: 0,
            reDraw: 0,
            version: "",
            trimStep: 0.5,
            // player
            targetFile: {path: "", name: "", type: ""},
            playerMeta: {
                currentTime: 0,
                duration: null,
                loadedmetadata: false,
                isPlaying: false,
                seeking: false,
            },
        },
        async created() {
            this.version = await window.api.getVersion()

            const files = await window.timeline.getFiles();
            this.files = await window.timeline.checkFilePaths(files);
        },
        computed: {
            showPlayer() {
                return this.isExists(this.targetFile.path);
            },
            currentTimeColon() {
                return minSecColonFrom(this.playerMeta.currentTime)
            },
            durationColon() {
                return minSecColonFrom(this.playerMeta.duration)
            },
            progress() {
                if (!this.playerMeta.currentTime) return 0
                if (!this.playerMeta.duration) return 0
                return (this.playerMeta.currentTime / this.playerMeta.duration) * 100;
            },
        },
        mounted() {
            this.playerHooks()
        },
        watch: {
            files: {
                handler: function (newVal, oldVal) {
                    window.timeline.storeFiles(newVal);
                },
                deep: true
            },
            targetFile: function (newVal, oldVal) {
                this.playerMeta.loadedmetadata = false
            },
        },
        methods: {
            async selectFile(file) {
                const path = window.webUtils.getPathForFile(file)
                const checkedFile = await window.timeline.checkFilePath({
                    path: path,
                    name: file.name,
                    type: file.type,
                    exists: true,
                    startTrimSec: 0,
                    endTrimSec: 0,
                });

                this.files.push(checkedFile)
            },
            selectVideoFile(event) {
                this.selectFile(event.target.files[0])
            },
            selectAudioFile(event) {
                this.selectFile(event.target.files[0])
            },
            isValidFilePath(path) {
            },
            isVideo(type) {
                return type.match(/video\/.*/)
            },
            isAudio(type) {
                return type.match(/audio\/.*/)
            },
            allowedFileType(type) {
                return this.isVideo(type) || this.isAudio(type)
            },
            openFolder(filePath) {
                // 正規表現で最後の「\ファイル名」を削除
                const folderPath = filePath.replace(/[\\/][^\\/]+$/, "");
                window.timeline.openFolder(folderPath);
            },
            increaseStartTrim(i) {
                const file = this.files[i]
                file.startTrimSec = this.increaseTrim(file.startTrimSec)
                this.reDraw++
            },
            decreaseStartTrim(i) {
                const file = this.files[i]
                file.startTrimSec = this.decreaseTrim(file.startTrimSec)
                this.reDraw++
            },
            increaseEndTrim(i) {
                const file = this.files[i]
                file.endTrimSec = this.increaseTrim(file.endTrimSec)
                this.reDraw++
            },
            decreaseEndTrim(i) {
                const file = this.files[i]
                file.endTrimSec = this.decreaseTrim(file.endTrimSec)
                this.reDraw++
            },
            increaseTrim(sec) {
                if (!sec) return this.trimStep
                return Number(sec) + this.trimStep
            },
            decreaseTrim(sec) {
                if (!sec || sec < 0) return 0
                return Number(sec) - this.trimStep
            },
            start(i) {
                this.closeStatusAll()

                // this.isPlaying = true;
                const file = this.files[i]
                file.isPlaying = true;

                window.timeline.openSubWindow(file)
                    .then((isExists) => {
                        if (!isExists) {
                            // this.isPlaying = false;
                            alert(`ファイルが開けませんでした。\n「${file.name}」`)
                            file.isPlaying = false;
                        }
                        this.targetFile = file
                        this.reDraw++
                    })
            },
            close(i) {
                const file = this.files[i]
                window.timeline.closeSubWindow();
                file.isPlaying = false
                this.targetFile = {}
                this.reDraw++
                this.playerMeta.currentTime = 0
            },
            // close() {
            //     window.timeline.closeSubWindow();
            //     // this.isPlaying = false
            // },
            closeStatusAll() {
                window.timeline.closeSubWindow();
                this.files.forEach((file) => {
                    file.isPlaying = false
                })
                this.reDraw++
            },
            reset() {
                this.closeStatusAll()
                this.playerMeta.currentTime = 0
            },
            addRow() {
                this.files.push({path: "", name: "", type: ""})
            },
            removeRow(i) {
                this.files.splice(i, 1);
            },
            preview(file) {
                this.previewFile.src = file.path
                this.previewFile.type = file.type
                this.videoReload++
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter(index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.files.splice(this.dragIndex, 1)[0];
                this.files.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd() {
                this.dragIndex = null;
            },
            dragDropEnter() {
                this.isEnter = true;
            },
            dragDropLeave() {
                this.isEnter = false;
            },
            droppedFile(event) {
                this.disallowedFileTypeMessage = ""
                this.isEnter = false;

                const file = event.dataTransfer.files[0]
                if (!this.allowedFileType(file.type))
                    return this.disallowedFileTypeMessage = "動画か音源ファイルのみ追加可能です。"

                return this.selectFile(file)
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
            // player
            restart: () => window.timeline.mainPlayer.restart(),
            rewind: (seekTime) => window.timeline.mainPlayer.rewind(seekTime),
            play: () => window.timeline.mainPlayer.play(),
            pause: () => window.timeline.mainPlayer.pause(),
            forward: (seekTime) => window.timeline.mainPlayer.forward(seekTime),
            toEnd: () => window.timeline.mainPlayer.toEnd(),
            startSeek(e) {
                this.playerMeta.seeking = true;
                this.updateSeek(e);

                // ドキュメント全体で mousemove / mouseup を監視
                document.addEventListener('mousemove', this.updateSeek);
                document.addEventListener('mouseup', this.stopSeek);
                document.addEventListener('mouseleave', this.stopSeek);
            },
            updateSeek(e) {
                if (!this.playerMeta.seeking) return;
                const rect = e.srcElement.getBoundingClientRect();
                const clickX = e.clientX - rect.left; // クリック位置
                let ratio = clickX / rect.width;   // 全体に対する割合
                ratio = Math.max(0, Math.min(1, ratio)); // 0~1に制限
                const newTime = Math.round(ratio * this.playerMeta.duration);
                this.playerMeta.currentTime = newTime
                window.timeline.mainPlayer.seek(newTime)
            },
            stopSeek() {
                this.playerMeta.seeking = false;
                document.removeEventListener('mousemove', this.updateSeek);
                document.removeEventListener('mouseup', this.stopSeek);
                document.removeEventListener('mouseleave', this.stopSeek);
            },
            playerHooks() {
                window.timeline.listener.ready((event, param) => {
                })
                window.timeline.listener.duration((event, param) => {
                    this.playerMeta.duration = param.duration
                    this.playerMeta.loadedmetadata = true
                })
                window.timeline.listener.play((event, param) => {
                    this.playerMeta.isPlaying = true
                })
                window.timeline.listener.timeupdate((event, param) => {
                    this.playerMeta.currentTime = param.currentTime
                })
                window.timeline.listener.paused((event, param) => {
                    this.playerMeta.isPlaying = false
                })
                window.timeline.listener.ended((event, param) => {
                })
            },
        },
    })
</script>
</body>
</html>