<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Pier Player</title>
  <link rel="stylesheet" href="../../static/css/bulma.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/side-menu.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<style>
    .control a.label {
        width: 5rem;
        cursor: unset;
    }

    .control button.label {
        cursor: unset;
    }
</style>
<body>
<div id="appVimeo" v-cloak>
  <aside id="sideMenu"></aside>

  <main>
    <div class="tabs is-boxed is-centered is-fullwidth mb-4">
      <ul style="background-color: #f1f5f7">
        <li><a href="./showcase.html">ショーケース</a></li>
        <li class="is-active"><a>個別映像</a></li>
      </ul>
    </div>

    <div style="margin: auto; width: fit-content; min-width: 480px; max-width: 95%;">
      <button class="button is-small is-pulled-right" @click="reset()">
        表示リセット
      </button>
      <table class="table my-2 is-striped is-fullwidth" style="width: 100%;">
        <thead>
        <tr class="is-size-7" style="white-space: nowrap;">
          <th></th>
          <th>映像一覧</th>
          <th></th>
        </tr>
        </thead>
        <tbody :key="reDraw">
        <tr v-for="(vimeo, i) in vimeoList"
            :key="i"
            :class="{
              'dragging': i === dragIndex,
              'has-background-success-light': isViewedBeforePlay(vimeo),
              'has-background-danger-light': isPlaying(vimeo)
            }">
          <td
              :draggable="true"
              @dragstart="dragStart(i)"
              @dragenter="dragEnter(i)"
              @dragover.prevent
              @dragend="dragEnd()"
              style="width: 24px; white-space: nowrap; vertical-align: middle"
              class="px-0"
          >
            <span class="icon mx-0 is-draggable">
              <i class="mdi mdi-24px mdi-drag-vertical mt-1"></i>
            </span>
          </td>
          <td>
            <div class="field has-addons mb-1" style="white-space: nowrap;">
              <p class="control">
                <a class="button is-small label"
                   :class="{'is-success': isViewedBeforePlay(vimeo), 'is-danger': isPlaying(vimeo)}"
                >タイトル</a>
              </p>
              <p class="control is-expanded">
                <input type="text" v-model="vimeo.title" class="input is-small" placeholder="映像タイトル（任意）"
                       :readonly="!isBeforeViewing(vimeo)">
              </p>
              <p>
                <button v-if="isBeforeViewing(vimeo)"
                        class="button is-small is-info ml-2"
                        @click="view(i)"
                        :class="{'is-loading': isLoading}"
                        :disabled="!isExists(vimeo.playerUrl)"
                ><b>表示</b></button>
                <button v-if="isViewedBeforePlay(vimeo)"
                        class="button is-small is-success ml-2"
                        @click="play(i)"
                        :class="{'is-loading': isLoading}"
                ><b>再生</b></button>
                <button v-if="isPlaying(vimeo)"
                        class="button is-small is-danger ml-2"
                        @click="close(i)"
                ><b>閉じる</b></button>
              </p>
            </div>
            {{vimeo.titleFromUrl}}
            <div class="field has-addons mb-1">
              <p class="control">
                <a class="button is-small label"
                   :class="{'is-success': isViewedBeforePlay(vimeo), 'is-danger': isPlaying(vimeo)}"
                >URL<small class="required">*</small></a>
              </p>
              <p class="control is-expanded">
                <input type="url"
                       v-model="vimeo.url"
                       class="input is-small"
                       :class="{'is-danger': isExists(vimeo.url) && !isExists(vimeo.playerUrl)}"
                       :readonly="!isBeforeViewing(vimeo)"
                       @keyup="generatePlayerUrl(vimeo)"
                       @change="generatePlayerUrl(vimeo)">
              </p>
            </div>
            <small v-if="isExists(vimeo.url) && !isExists(vimeo.playerUrl)"
                   class="has-text-danger">URLの形式が正しくありません</small>
            <div class="field has-addons has-addons-right">
              <p class="control label is-small my-auto mr-2">
                パスワード
              </p>
              <p class="control" style="width: 6rem">
                <input type="text" v-model="vimeo.password" class="input is-small"
                       :readonly="!isBeforeViewing(vimeo)">
              </p>
            </div>
          </td>
          <td class="pl-0 pr-1" style="width: 1rem; vertical-align: middle">
            <button class="delete" @click="removeRow(i)"></button>
          </td>
        </tr>

        </tbody>
      </table>
      <button class="button is-info is-outlined is-fullwidth mt-5" @click="addRow()">
        ＋追加
      </button>
    </div>
    <br>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Pier Player - v{{version}}</p>
      </div>
    </footer>
  </main>
</div>

<script src="../../static/jquery.js"></script>
<script>
    fetch('../components/side-nav.html')
        .then(res => res.text())
        .then(html => {
            $('#sideMenu').replaceWith(html);
            $('#is-vimeo').addClass("is-active");
        });
</script>
<script>
    new Vue({
        el: "#appVimeo",
        data: {
            isLoading: false,
            vimeoList: [],
            reDraw: 0,
            dragIndex: null,
            version: "",
            mainApi: window.api,
            vimeoApi: window.vimeo,
        },
        async created() {
            this.vimeoList = await this.vimeoApi.getVimeoList();
            this.version = await this.mainApi.getVersion()
        },
        mounted() {
        },
        watch: {
            // "showcase.rawUrl": function (newVal, oldVal) {
            //     if (!newVal) return this.showcaseUrl = ""
            //     this.showcaseUrl = newVal.replace(/\?.*$/, '') + '/embed';
            // },
            vimeoList: {
                handler: function (newVal, oldVal) {
                    this.vimeoApi.storeVimeoList(newVal)
                },
                deep: true
            }
        },
        computed: {},
        methods: {
            view(i) {
                this.closeAll()

                const vimeo = this.vimeoList[i]
                this.vimeoApi.openVimeo(vimeo.playerUrl, vimeo.password).then(() => {
                    vimeo.isViewed = true;
                });
            },
            play(i) {
                const vimeo = this.vimeoList[i]
                this.vimeoApi.playVimeo();
                vimeo.isPlaying = true
            },
            close(i) {
                const vimeo = this.vimeoList[i]
                this.vimeoApi.closeVimeo();
                vimeo.isViewed = false
                vimeo.isPlaying = false
            },
            isBeforeViewing(vimeo) {
                return !vimeo.isViewed && !vimeo.isPlaying
            },
            isViewedBeforePlay(vimeo) {
                return vimeo.isViewed && !vimeo.isPlaying;
            },
            isPlaying(vimeo) {
                return vimeo.isPlaying
            },
            closeAll() {
                this.vimeoApi.closeVimeo();
                this.vimeoList.forEach((vimeo) => {
                    vimeo.isViewed = false
                    vimeo.isPlaying = false
                })
            },
            reset() {
                this.closeAll()
            },
            addRow() {
                this.vimeoList.push({
                    title: "",
                    isViewed: false,
                    isPlaying: false
                })
            },
            removeRow(i) {
                this.close(i);
                this.vimeoList.splice(i, 1);
            },
            dragStart(index) {
                this.dragIndex = index;
            },
            dragEnter(index) {
                if (index === this.dragIndex) return;
                const deleteElement = this.vimeoList.splice(this.dragIndex, 1)[0];
                this.vimeoList.splice(index, 0, deleteElement);
                this.dragIndex = index;
            },
            dragEnd() {
                this.dragIndex = null;
            },
            isExists(v) {
                return typeof v !== 'undefined' && v !== null && v !== "" && v !== {};
            },
            generatePlayerUrl(vimeo) {
                const url = vimeo.url;
                if (!url) return vimeo.playerUrl = ""

                // https://vimeo.com/[videoId] または https://vimeo.com/[videoId]?share=copy の形式に対応
                const match = url.match(/^https:\/\/vimeo\.com\/(.+)/);
                if (!match) return vimeo.playerUrl = ""

                const videoId = match[1].replace(/\?.*$/, '');
                vimeo.playerUrl = `https://player.vimeo.com/video/${videoId}?title=0&byline=0&badge=0&portrait=0&preload=auto`;
            },
            // getShowcaseVideoTitles() {
            //     fetch(this.showcaseUrlWithPassword).then(async res => {
            //         const html = await res.text()
            //         // 正規表現で "clips": [ ... ] を抜き出す
            //         const match = html.match(/"clips"\s*:\s*(\[[\s\S]*?])/);
            //         if (!match) return alert("映像一覧を取得できませんでした。URLとパスワードを確認してください。\n\n何度試しても取得できない場合は手動で追加してください。");
            //
            //         try {
            //             const clips = JSON.parse(match[1]);
            //             const titles = clips.map(clip => {
            //                 return {
            //                     isPlaying: false,
            //                     isViewed: false,
            //                     title: clip.title
            //                 };
            //             })
            //             if (this.overrideVideoList) this.vimeoList = titles
            //             else this.vimeoList = this.vimeoList.concat(titles)
            //         } catch (e) {
            //             alert("映像一覧の取得に失敗しました。手動で追加してください。");
            //         }
            //     })
            // },
        },
    })
</script>
</body>
</html>