
[v-cloak] {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}

img#logo {
    height: 1.5rem;
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: var(--bulma-primary-25);
}

.tabs {
    --bulma-tabs-border-bottom-width: 2px;
    --bulma-tabs-link-active-border-bottom-color: var(--bulma-primary);
    --bulma-tabs-link-active-color: var(--bulma-primary);
}

.tabs li.is-active {
    font-weight: bold;
}

table, th, td {
    vertical-align: middle;
}
.dragging {background-color: #eee;}
.is-draggable{cursor: grab;}
.is-draggable:active {cursor: grabbing;}

.delete {
    vertical-align: middle;
    background-color: rgba(255, 69, 0, 0.4);
}
.delete:hover {
    background-color: rgba(255, 69, 0, 0.7) !important;
}

.required {
    color: orangered;
}

.fitContent {
    width: 0;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}



/* アンダーラインスタイルInput */
.input.underlined,
.input.underlined:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.2s ease;
}
.input.underlined:focus {
    border-width: 2px
}


/* ボーダースタイルInput */
.input.borderless:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
}
.input.borderless:not(:focus) {
    border: none;
}

/*input[type="checkbox"] {*/
/*    accent-color: var(--bulma-primary-30);*/
/*}*/

input[type="checkbox"] {
    appearance: none; /* 標準スタイルを無効にする */
    width: 16px; /* サイズの調整 */
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

/*input[type="checkbox"]:checked {*/
/*    background-color: var(--bulma-primary-35);*/
/*}*/

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--bulma-primary); /* チェックマークの色を指定 */
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none; /* 初期状態では非表示 */
}

input[type="checkbox"]:checked::before {
    display: block; /* チェックされたら表示する */
}