
[v-cloak] {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}

img#logo {
    height: 1.5rem;
    max-width: 100%;
    vertical-align: bottom;
}

/*.tabs.is-boxed li.is-active a {*/
/*    background-color: transparent;*/
/*}*/
.tabs li a {
    border-bottom-width: 3px;
}

.tabs li:not(:has(.is-active)) a {
    background-color: transparent;
}

table, th, td {
    vertical-align: middle;
}
.dragging {background-color: #eee;}
.is-draggable{cursor: grab;}
.is-draggable:active {cursor: grabbing;}

.delete {
    vertical-align: middle;
    background-color: rgba(255, 69, 0, 0.4);
}
.delete:hover {
    background-color: rgba(255, 69, 0, 0.7) !important;
}

.required {
    color: orangered;
}

.fitContent {
    width: 0;
    white-space: nowrap;
}



/* アンダーラインスタイルInput */
.input.underlined,
.input.underlined:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.2s ease;
}
.input.underlined:focus {
    border-width: 2px
}


/* ボーダースタイルInput */
.input.borderless:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
}
.input.borderless:not(:focus) {
    border: none;
}
