:root {
    --sidebar-width: 140px;
}

#app,
#appCgm,
#appVimeo,
#appVimeoShowcase {
    display: flex;
}

aside.menu {
    position: fixed; /* サイドメニューを固定 */
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh; /* 画面の高さいっぱい */
    overflow-y: auto; /* メニューが長ければスクロール */
    z-index: 9999;
    /*border-right: 1px solid #ddd;*/
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)),
    linear-gradient(
            125deg,
            rgb(9, 150, 175),
            rgb(151, 136, 218),
            rgb(168, 15, 137)
    );
}

aside.menu .menu-list a {
    border-radius: 0;
}

aside.menu .menu-list a.is-active {
    color: black;
    background-color: #fff;
}

main {
    margin-left: var(--sidebar-width); /* サイドバーの分だけ右寄せ */
    flex: 1;
}