:root {
    --theme-color: rgb(9, 150, 175);
    --timeline-linear-gradient: linear-gradient(
            125deg,
            var(--theme-color),
            rgb(151, 136, 218),
            rgb(168, 15, 137)
    );
}

table.borderless td {
    border: none;
}

/** 音量スライダー */
input[type="range"] {
    appearance: none;
    width: 110px;
    height: 6px;
    border-radius: 99px;
    background: transparent;
    cursor: pointer;
    border: 1px solid lightgray;
}
/* ツマミ：Chrome, Safari, Edge用 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: darkgray;
    box-shadow: none;
    border: 1px solid gray;
}
/* ツマミ：Firefox用 */
input[type="range"]::-moz-range-thumb {
    border: 1px solid gray;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: darkgray;
    box-shadow: none;
}

input.editInput {
    text-align: center;
    width: 2.75rem;
    height: 1.75em;
    background-color: whitesmoke;
}

.timelinePlayer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 7px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    animation: SlideIN 0.4s ease-in-out;
}

@keyframes SlideIN {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

.playIcon path, .pauseIcon path {
    background: var(--timeline-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Bulmaのprogressリセット */
progress {
    all: unset; /* ほぼ全てのCSSをリセット */
    display: block; /* progress は block にする */
    width: 100%; /* 元の幅を確保 */
    height: auto; /* 高さは自分で設定 */
    box-sizing: border-box;
}

/* progress のベース */
progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 999px;
    overflow: hidden;
    background-color: #e6eaf0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* WebKit (Chrome, Safari) */
progress::-webkit-progress-bar {
    background-color: #e6eaf0;
    border-radius: 999px;
}

progress::-webkit-progress-value {
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)),*/
    /*            var(--timeline-linear-gradient);*/
    background-color: var(--theme-color);
}

/* Firefox */
progress::-moz-progress-bar {
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)),*/
    /*            var(--timeline-linear-gradient);*/
    background-color: var(--theme-color);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

details.trim summary::marker {
    content: "✂";
}

.level .level-left,
.level .level-right {
    flex-direction: row !important;
}