:root {
    --theme-color: rgb(9, 150, 175);
    --timeline-linear-gradient: linear-gradient(
            125deg,
            var(--theme-color),
            rgb(151, 136, 218),
            rgb(168, 15, 137)
    );
    --timeline-player-heght: 114px
}

table.borderless td {
    border: none;
}

input.editInput {
    text-align: center;
    width: 2.75rem;
    height: 1.75em;
    background-color: whitesmoke;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

details.trim summary::marker {
    content: "✂";
}

.level .level-left,
.level .level-right {
    flex-direction: row !important;
}